@media all and (max-width: 1170px) {
    
    #portfolio .portfolio-item {
        width: 50%;
    }
    
    #portfolio .portfolio-item:last-child {
        width: 100%;
    }
    
/*  Inne sposoby:
    #portfolio .portfolio-item:
*/
}
@media all and (max-width: 992px) {
/*  Rozdzielczość ustawiamy od nawyższej do najniższej. W innym wypadku dla pośrednich rozdzielczości trzeba by ustawić przedziały "od-do"  */
/*  Rozwijane menu  */
    
    .toggle {
        display: block;
        background-color: #fff;
        padding: 0 20px;
        color: #1ac056;
        font-size: 20px;
        line-height: 60px;
        text-decoration: none;
        border: none;
        text-align: right;
    }
    
        #main-nav > ul {
        display: none;
    }
    #main-nav #drop:checked + ul {
        display: block;
    }
    
    #main-nav > ul > li {
        display: block;
        width: 100%;
        padding: 20px;
        text-align: right;
    }
    
    .main-header-content {
        padding: 10%;
    }
    
/*  Zdjęcie typa i tekst pod nim  */
    
    #about > figure {
        width: 100%;
    }
    
    #about > figure > img {
        max-height: inherit;
    }
    
    #about > article {
        width: 100%;
    }
    
/*  Portfolio  */
    
    #portfolio .portfolio-item {
        width: 100%;
    }
    
/*  Formularz  */
    
    #contact .address-data {
        width: 100%;
        text-align: center;
    }
    
    #contact .social-link a {
        margin: 0;
    }
}

